// .footer-wrapper{
//     position: relative;
//     // padding-top: 10px;
// }

.footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 50px;     
    background-color: #C9BFDE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    font-size: 25px;
    width: 25px;
    height: 25px;
    margin: 10px;
    text-decoration: none;
    background-color: #C9BFDE;
    color: white;
}

