.navBar {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.logo {
    font-family: Raleway-Black;
    font-weight: bold;
    font-size: 36px;
    margin-left: 10px;
    text-decoration: none;
    color: #C9BFDE;
}

.nav-bar-links {
    display: flex;
}

.create-button{
    text-decoration: none;
    color: #C9BFDE;
    float: right;
    display: flex;
    margin-right: 10px;
    align-items: center;
    
    &:hover{
        text-decoration: underline;
    }
}

.signup-login-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: #39364f;
    // display: flexbox;
}

.logout-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    float: right;
}

a:visited, link:visited{
    text-decoration: none;
}

@font-face{
    font-family: Raleway-Black;
    src: url("fonts/Raleway-Black.ttf") format("opentype");
}

@font-face {
    font-family: TypoGroteskDemo;
    src: url("fonts/TypoGroteskDemo.otf") format("opentype");
}